<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Зарегистрироваться</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="elements :: admin-page-header"> </div>

<div class="indent">
    <form method="post" action="/submit_add_record">
        <label for="book_name">Название книги:</label><br>
        <input type="text" id="book_name" name="book_name"><br><br>

        <label for="login">Логин читателя:</label><br>
        <input type="text" id="login" name="login"><br><br>

        <label for="issue_date">Дата выдачи:</label><br>
        <input type="text" id="issue_date" name="issue_date"><br><br>

        <label for="return_date">Дата сдачи:</label><br>
        <input type="text" id="return_date" name="return_date"><br><br>

        <input id="submitButton" type="submit" value="Добавить" class="btn btn-primary">
    </form>
</div>

<div th:replace="elements :: site-footer"></div>
<div th:replace="elements :: site-script"></div>

</body>
</html>