<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/library</property>
        <property name="connection.username">kobrineli</property>
        <property name="connection.password"/>
        <property name="show_sql">true</property>

        <mapping class="models.admin"/>
        <mapping class="models.book_copies"/>
        <mapping class="models.books"/>
        <mapping class="models.reader_story"/>
        <mapping class="models.readers"/>


    </session-factory>
</hibernate-configuration>